@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    0% {
      transform: translateX(350%);
    }
    100% {
      transform: translateX(-350%);
    }
  }
  
  /* .slide-in-text {
    animation: slide 20s linear infinite;
  } */
  .cont {
    background-image: url("https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    /* Additional styles */
  }
